doctype html
html(lang="en")

  head

    link(rel="stylesheet", type="text/css", charset="utf-8" href="style.css?" + resource_version)
    link(rel="icon" href="favicon.ico", type="image/x-icon")
    link(rel="shortcut icon" href="favicon.ico", type="image/x-icon")

    title WordPress.com Console
    meta(http-equiv="Content-Type", content="text/html, charset=utf-8")

    if version
      meta(name="version", content=version)
    if build
      meta(name="build", content=build)
    if redirect_uri
      meta(name="redirect_uri", content=redirect_uri)
    if client_id
      meta(name="client_id", content=client_id)

    meta(name="generated_at", content=(new Date).getTime())

    script(type="text/javascript" src='app.js?' + resource_version)

  body
    section#reference
    section#builder
      #path
        #auth(tabindex="1")
        #parts
          #method.enabled(tabindex="1")
            span
            #methods
          #search
            a
          #lookup
        #submit(tabindex="1")
      section#parameters
        #query
        #body.disabled
    section#requests
    #tip
      .anchor
      header
        code
        em
      ul
